<div class="container pt-5">
  <div class="row">
    <div class="col-6">
      <h1>Search</h1>
      <% if current_user.nominations.count < 5 %>
        <input type="text" id="searchBar">
        <h2>Results</h2>
        <ul id="results"></ul>
      <% else %>
        <h1>You have already nominated 5 movies!</h1>
      <% end %>
    </div>
    <div class="col-6">
      <h1>Nominated</h1>
      <ul>
        <% @nomination_list.each do |nom| %>
          <li>
            <%= nom["Title"] %>
            <%= link_to nomination_path(Nomination.where(imdb_id: nom["imdbID"]).first), method: :delete, data: {confirm: "Delete this nomination?"} do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>